<mat-accordion >
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Teste para diagnóstico.
        </mat-panel-title>
        <mat-panel-description>
    descricao basica - titulo
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>    descricao basica</p>
    </mat-expansion-panel>
<div *ngIf="project">
  <mat-expansion-panel *ngFor="let guideline of principle.guidelines "
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
{{guideline.name}}
</mat-panel-title>
<mat-panel-description>
{{guideline.description}}
</mat-panel-description>
</mat-expansion-panel-header >
<form class="example-form fs-6" #formTeste>
<div class="row m-3" *ngFor="let question of guideline.questions">  

   
<p>{{question.ask}}</p>
<ngb-rating  [max]="5" [(rate)]="question.rate"></ngb-rating>     

<mat-divider  class="m-3"></mat-divider>
       


</div>  
<mat-action-row>

  <button type="button" mat-button color="primary" (click)="teste('')">Salvar</button>
</mat-action-row>
</form>      
</mat-expansion-panel>    
</div>
  </mat-accordion>


  <app-dynamic-form [project]="project"></app-dynamic-form>