<div  class="d-flex flex-column p-2">
  <form [formGroup]="principleForm" (ngSubmit)="addPrinciple()"  class="d-flex flex-column">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>
    
    <div formArrayName="questions" class="m-3">
      <div *ngFor="let questionGroup of questions.controls; let i = index" [formGroupName]="i" class="d-flex flex-column ">
        
        
        <mat-form-field>
          <mat-label>Question Text</mat-label>
          <input matInput formControlName="text" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Rating</mat-label>
          <input matInput type="number" formControlName="rating" min="0" max="10" required>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
        </mat-form-field>
        <button mat-icon-button color="warn" (click)="removeQuestion(i)">
          <mat-icon>delete</mat-icon>
         </button>
      </div>
    </div>

   
  </form>
<div>
  <button mat-raised-button color="accent"  class="m-2" (click)="addQuestion()">Add Questão</button>
  <button mat-raised-button color="primary" (click)="addPrinciple()">Salvar</button>
</div>

</div>






 