<!-- <form [formGroup]="dynamicForm">
    <ng-container *ngFor="let guideline of project.principles[0].guidelines">
      <h3>{{ guideline.name }}</h3>
      <div *ngFor="let question of guideline.questions">
        <label>{{ question.ask }}</label>
        <input type="text" [formControlName]="question._id" />
      </div>
    </ng-container>
    <button type="button" (click)="saveForm()">Salvar</button>
  </form>
 -->

 <mat-card>
  <mat-card-header>
    <mat-card-title>{{project.principles[indexPrinciple].name}}</mat-card-title>
    <mat-card-subtitle>{{project.principles[0].description}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <form [formGroup]="dynamicForm">
  <mat-expansion-panel *ngFor="let guideline of project.principles[indexPrinciple].guidelines"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
{{guideline.name}}
</mat-panel-title>
<mat-panel-description>
{{guideline.description}}
</mat-panel-description>
</mat-expansion-panel-header >
<div class="row m-3" *ngFor="let question of guideline.questions">     
<p>{{question.ask}}</p>
<mat-radio-group   [formControlName]="question._id"  [value]="question.rate" aria-label="Select an option">
  <mat-radio-button  *ngFor="let item of radioItems" 
      [value]="item"
      [checked]="item == question.rate"
      (change)="teste(item == question.rate)"
      >{{item}}</mat-radio-button>
  
</mat-radio-group>
<mat-divider  class="m-3"></mat-divider>    
</div>  
<mat-action-row>
  <button type="button" mat-button color="primary" (click)="saveForm()">Salvar</button>
</mat-action-row> 
</mat-expansion-panel>    
</form>

