 <mat-card>
  <mat-card-header>
    <mat-card-title>{{project.principles[indexPrinciple].name}}</mat-card-title>
    <mat-card-subtitle>{{project.principles[indexPrinciple].description}}</mat-card-subtitle>
  </mat-card-header>
</mat-card>
  <form [formGroup]="dynamicForm">
  <mat-expansion-panel *ngFor="let guideline of project.principles[indexPrinciple].guidelines"
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
{{guideline.name}}
</mat-panel-title>
<mat-panel-description>
{{guideline.description}}
</mat-panel-description>
</mat-expansion-panel-header >
<div class="row m-3" *ngFor="let question of guideline.questions">     

<div class="d-flex justify-content-between">
  <p>{{question.ask}}</p> 
  <mat-chip-listbox    aria-label="Dog selection">  
     <mat-chip-option color="accent" selected>
      {{question.tags}}
     </mat-chip-option>
    </mat-chip-listbox>
</div>
<mat-radio-group   [formControlName]="question._id"  [value]="question.rate" aria-label="Select an option">
  <mat-radio-button  *ngFor="let item of radioItems" 
      [value]="item"
      [checked]="item == question.rate"    
      >{{item}}</mat-radio-button>
  
</mat-radio-group>
<mat-divider  class="m-3"></mat-divider> 

</div>  
<p class="font-weight-bold" style="font-weight: bolder;">
  Você gostaria de justificar algumas das suas respostas nesta seção e dar exemplos de
  iniciativas ou empresas que causem impacto positivo ou negativo  no sistema alimentar local?
  Se sim, escreva no campo abaixo.
</p>
<mat-form-field class="d-flex" >
  <mat-label>Justificar</mat-label>
  <textarea  [formControlName]="guideline._id" matInput [value]="guideline.sugestion"></textarea>
</mat-form-field> 
<mat-action-row>
  <button type="button" mat-button color="primary" (click)="saveForm()">Salvar</button>
</mat-action-row> 
</mat-expansion-panel>    
</form>
<div class="d-flex mt-2 justify-content-center p-2">
  <button mat-fab color="accent" matTooltip="Voltar" [hidden]="indexPrinciple === 0" type="button" (click)="eventoPreviousPrinciple()">
    
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <button class="mx-2" mat-fab color="primary" matTooltip="Salvar" type="submit" (click)="saveForm()">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-fab color="warn" matTooltip="Próximo" type="button" (click)="eventoNextPrinciple()">
    
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
